/* Estilos globales */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #8f5757;
  color: #245848;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0d3b21;
  font-weight: 500;
}

/* Layout general con CSS Grid */
.container {
  display: grid;
  grid-template-areas:
      "nav nav nav"
      "sidebar products products"
      "footer footer footer";
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Menú de navegación */
.nav {
  grid-area: nav;
    background-color: #333;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(81, 50, 50, 0.689);
}

.nav ul {
  display: flex;
  justify-content: space-around;
}

.nav a {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

/* Barra lateral */
.sidebar {
  grid-area: sidebar;
  background-color: #5a7e7d;
  padding: 1rem;
  border-radius: 10px;
}

.sidebar h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #ffffff;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #302424;
}

/* Grilla de productos */
.products {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 1rem;
}

/* Tarjeta de producto con Flexbox */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #361313;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

.product-card h4 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
  color: #361313;
}

.product-card p {
  color: #0e3919;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Botón de Comprar */
.buy-btn {
  background-color: #361313;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.buy-btn:hover {
  background-color: #d44d4d;
}

/* Pie de página */
.footer {
  grid-area: footer;
  background-color: #f5f5f5;
  text-align: center;